flush ruleset
table inet filter {
  chain input { type filter hook input priority 0; policy drop;
    ct state established,related accept
    iif "lo" accept
    ip saddr {{ mgmt_cidr }} accept
  }
  chain forward { type filter hook forward priority 0; policy drop; }
  chain output { type filter hook output priority 0; policy drop;
    ct state established,related accept
    {% if allow_dns %} udp dport 53 accept; tcp dport 53 accept; {% endif %}
    ip daddr {{ telemetry_sink_ip }} udp dport 514 accept
    ip daddr {{ telemetry_sink_ip }} tcp dport { 514, 4317 } accept
    {% if allow_patch_repo %} ip daddr {{ patch_repo_cidr }} tcp dport { 80, 443 } accept; {% endif %}
  }
}
