apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: telemetry
data:
  otel-collector.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    processors:
      batch: {}
      k8sattributes:
        auth_type: serviceAccount
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.pod.name
            - k8s.deployment.name
            - k8s.node.name
            - k8s.container.name

    exporters:
      prometheus:
        endpoint: 0.0.0.0:8889

      loki:
        endpoint: http://loki.telemetry.svc.cluster.local:3100/loki/api/v1/push

      otlp/tempo:
        endpoint: tempo.telemetry.svc.cluster.local:4317
        tls:
          insecure: true

      debug:
        verbosity: basic

    service:
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [k8sattributes, batch]
          exporters: [prometheus]

        logs:
          receivers: [otlp]
          processors: [k8sattributes, batch]
          exporters: [loki]

        traces:
          receivers: [otlp]
          processors: [k8sattributes, batch]
          exporters: [otlp/tempo, debug]
